<div class="col s2" style="margin-top:10%; margin-left:5%">
    <div style="margin-top:10%; margin-left:12%">
        <input type="text" placeholder="Search by Title" [(ngModel)]="searchBkTitle">
    </div>
    <br>
    <br>
    <div class="col s2" align="center">    
        <font size=4 align="center">
    <table width=1000px border="5px" align="center" cellpadding=5px>
    <thead>
        <tr width=250px height=30px>
            <th>Title</th>
            <th>Author</th>
            <th>Publish date</th>
            <th>Price</th>
            <th>Description</th>
            <th></th>
        </tr>
    </thead>
    <tr *ngFor="let doc of documentData | async | filter: searchBkTitle">
        <td>{{doc.DocTitle}}</td>
        <td>{{doc.DocAuthors}}</td>
        <td>{{doc.DocDateOfPublished}}</td>
        <td>{{doc.DocPrice}}</td>
        <td>{{doc.DocDescription}}</td>
        <td>
            <button *ngIf="doc.DocTypeId===2" class="btn btn-primary btn-md text-white" (click)="payPage(doc.DocId,doc.DocPrice)">Pay</button>
            <button *ngIf="doc.DocTypeId===1" class="btn btn-primary btn-md text-white" (click)="downPage()">Download</button>
        </td>
    </tr>
    </table>
    </font>
    </div>
</div>
