<div class="w3-display-middle">
    <h1 class="w3-xxlarge" font-size=20px align="center" style="margin-left: 8%;"><u>About Us</u></h1>
    <br />
    <br />
<div class="div1" style="margin-left: 8%;">
    ELib Inc is a start-up business that will make available on the Web a collection of
    technical papers of current interest for engineers, lawyers, doctors and other professionals as pdf’s.
    The managers of ELib have formulated the following requirements for their “ELib Access” system
    (the name will be abbreviated toELibA). These are a much-simplified version of the interaction style used
    by many publishers. The documents would be available only in pdf format. Most of the documents would be available only
    on payment, but some documents are also classified as freebie which is available to all.A library management system
    enhances the efficiency of the librarians and library users. A good library management system enables librarians
    to easily catalog books and keep proper records of books issued, reissued, and those not returned.
    On the other hand, library users can easily check the availability of any book that they need.
    <p align="center">
    <b><i>Subscribers will get extra 20% discount on every purchase.</i></b>
    </p>
</div>
</div>
