<div class="w3-display-middle form-group" style="margin-left: 5%;" align="center">
    <label><h2>Amount to Pay : {{docPrice}} Rs.</h2></label>
    <p>
    <label *ngIf="service.userDetails.UserTypeId==1"><i>20% discount applied</i></label>
    </p>    
    <label><h2>Card Number : {{service.userDetails.UserCreditCardNumber}}</h2></label>
    <br>
    <label><h2>Expiry : {{service.userDetails.UserCreditCardExpiryDate}}</h2></label>
    <br>
    <label>
        <h2>CVV :</h2><input type="number" class="form-group" name="cardCVV" id="carCVV" [(ngModel)]="userCreditCardCVV">
    </label>
    <br>
    <button value="Pay and Download" class="btn-small btn-disc align-left" (click)="compareCVV()">Pay / Download</button>
</div>
